.message-bubble {
  min-height: 2rem;
  width: 9rem;
  border: 1px solid #CFD8EA;
  border-radius: 10px;
  background-color: #CFD8EA;
  margin: 0.5rem 0.5rem;
  padding: 0.7rem;
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}