.react-chatty {
  height: 25rem;
  width: 18rem;
  border: 1px solid #ebedf0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input:focus{
    outline: none;
  }

  *:focus {
    outline: none;
  }
}