.typing-area {
  background-color: #F5F7F9;
  display: flex;
  flex-direction: row;

  textarea {
    height: 1.5rem;
    background-color: #F5F7F9;
    border-bottom-left-radius: 0.9rem;
    border: 0;
    padding: 1rem;
    font-size: 1rem;
    resize: none;
    flex-grow: 1;
  }
}